* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.portada_logo {
    width: 30%;
}

.menu {
    text-align: center;
}

nav ul {
    width: 80%;
    overflow: hidden;
    /* que se adapte a lo que contiene */
    margin: auto;
    list-style: none;
}

.menu li {
    width: 15%;
    padding: 10px;
    display: inline-block;
    /* solucion cutre*/
}

.menu li a {
    display: block;
    color: white;
    background-color: #1f4b81;
    text-decoration: none;
}

.menu li a:hover {
    background-color: white;
    color: #1f4b81;
    transition: all 0.2s ease;
}


/* footer*/

footer {
    width: auto;
    height: 200px;
    background-color: rgb(75, 75, 78);
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

footer div {
    display: inline-block;
}

.datos {
    width: 300px;
    padding-top: 40px;
    padding-left: 80px;
    margin-right: 150px;
    margin-top: 0;
}

footer a {
    text-decoration: none;
    color: white;
}

.compartir p {
    margin-left: 50px;
    display: inline-block;
    margin-right: 1rem;
}

.compartir i {
    size: 2rem;
    padding: 3px;
}

.sello {
    padding: 5px;
    width: 130px;
    height: 130px;
    margin-top: 35px;
    margin-left: 400px;
}

.sello img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* video-consejos */

.videos {
    width: 80%;
    margin: auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
    justify-items: center;
}

.videos div {
    height: 300px;
    width: 80%;
    padding: 10px;
    margin-top: 50px;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 7px 7px 7px 7px;
}

.videos video {
    object-fit: cover;
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
}

.videos p {
    width: 90%;
    margin-left: 7px;
    height: 55px;
    border-bottom: 2px solid darkblue;
    display: block;
    font-size: large;
    color: darkblue;
    font-weight: bold;
}

.maps {
    width: 200px;
    display: inline-block;
    padding: 15px;
    margin-bottom: 50px;
}


/* Texto pagina Quienes S0mos*/

.texto {
    width: 80%;
    text-align: justify;
    margin: auto;
}

.texto p {
    margin: 30px 100px 20px 100px;
    line-height: 2;
}

.texto>div {
    width: auto;
    text-align: center;
}

.texto img {
    margin-top: 30px;
    width: 70%;
    height: 70%;
}


/* PRODUCTOS*/

.productos {
    width: 80%;
    height: 800px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: lightgrey;
    padding: 50px;
    border-radius: 10px 50px 10px 50px;
}

.productos h1 {
    display: block;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    margin-bottom: 50px;
}

.catalogo {
    width: 200px;
    margin-top: 30px;
    background-color: rgb(144, 140, 140);
    padding: 30px;
    border-radius: 5px 50px 5px 50px;
    text-align: center;
}

.listaProductos {
    list-style: none;
    margin: auto;
}

.listaProductos select {
    width: 90%;
    height: 2rem;
    margin-bottom: 15px;
}